{% extends 'base_details.html' %}

{% block 'title' %}
    account details
{% endblock %}

{% block 'content' %}
    <h1>
        account id: {{account.id}} 
    </h1>
    <h1>
        account username: {{account.username}}
    </h1>
    <h1>
        account email: {{account.email}}
    </h1>
    <h1>
        account created at: {{account.created_at}}
    </h1>
    <h1>
        account updated at: {{account.updated_at}}
    </h1>
    <h1>
        account owner: {{account.traineeobj.first_name}} {{account.traineeobj.last_name}}
    </h1>

{%endblock%}
